.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  width: 80%; /* Base width, adjusted in media query */
  margin: auto;
}

.collection_title {
  text-align: center;
  margin-bottom: 30px;
}

.collection_title h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: var(--color-gray-dark);
}

.collection_collections {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 55px; /* Base gap, adjusted in media query */
  box-shadow: var(--box-shadow-2);
  margin-top: 20px;
  padding: 10px 15px; /* Base padding, adjusted in media query */
  border-radius: 100px;
}

.collection_collections_btn {
  padding: 10px 15px; /* Base padding, adjusted in media query */
  font-size: 1.2rem;
  border-radius: 100px;
  cursor: pointer;
  background: var(--color-gray-dark);
}

.collection_collections_btn.active {
  background: var(--shadow-dark-2);
  border: 1px solid var(--color-gray-dark);
}

.collection_collections_btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-color-converse);
  font-size: 1rem; /* Base font size, adjusted in media query */
}

.collection_collections_btn button.active {
  color: var(--color-gray-dark);
}

.collection_collections_btn button svg {
  margin-right: 5px;
}

.collection_box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Base gap, adjusted in media query */
  margin-top: 20px;
  margin: 0 auto;
}

/* Assuming DaysComponent has its own styles, you can add them here */

@media screen and (max-width: 768px) {
  .collection {
    width: 100%;
  }

  .collection_collections {
    width: 90vw;
    gap: 10px; /* Adjusted gap for smaller screens */
    padding: 5px 5px; /* Adjusted padding for smaller screens */
  }

  .collection_collections_btn button {
    padding: 0; /* Adjusted padding for smaller buttons */
    font-size: 0.7rem; /* Adjusted font size for readability */
  }

  .collection_box {
    gap: 10px; /* Adjusted gap for smaller screens */
    width: 100%;
  }
}
