.like-component {
  display: flex;
  align-items: center; /* Center profile picture vertically */
  width: 27px; /* Adjust width as needed */
  height: 27px; /* Adjust height as needed */
  border-radius: 50%; /* Circular shape for profile picture */
  margin: 1px;
  padding: 2px;
  border: 1px solid var(--color-gray-dark);
  cursor: pointer;
}

.like-profile-picture {
  width: 100%; /* Fill the container */
  height: 100%; /* Fill the container */
  object-fit: cover; /* Resize image to fit container */
  border-radius: 50%; /* Circular shape */
}
