.like-component {
  display: flex;
  align-items: center; /* Center profile picture vertically */
  border-radius: 50%; /* Circular shape for profile picture */
  margin: 1px;
  padding: 2px;
  gap: 2px;
  cursor: pointer;
}

.like-profile-picture {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  border: 1px solid var(--color-gray-dark);
  padding: 2px;
}
