.audio-item {
  max-width: 340px;
  background-color: #fff;
  box-shadow: var(--box-shadow-2);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.audio-item-image {
  padding: 10px;
}

.audio-item-image img {
  width: 100%;
  border-radius: 10px;
}

/* .audio-item-details {
} */

.audio-item-details-top {
  width: 100%;

  position: absolute;
  top: 5px;
  left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio-item-details-top-left {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  background: var(--color-gray-dark);
  width: 4rem;
  border-radius: 100px;
  padding: 4px;
  color: var(--text-color-converse);
}

.audio-item-details-like-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: start;
}

.audio-item-details-top-right {
  transform: skewX(40deg);
  background-color: #fff;
  width: 200px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.audio-item-details-info {
  margin: auto;
  height: 100%;
  padding-block-start: 5px;
  text-align: center;
  transform: skewX(-40deg);
}

.audio-item-details-info p {
  font-weight: 600;
}

.audio-item-details-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  /* align-items: center; */
}

.audio-player-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.audio-player-container i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 100px;
}

.audio-player-container i svg {
  width: 25px;
  height: 25px;
  color: var(--color-gray-dark);
}

.audio-item-details-price {
  background: #fff;
  width: 230px;
  height: 75px;
  padding-left: 25px;
  bottom: 10px;
  width: 80%;
  border-radius: 0 15px 0;
}

.audio-item-details-price-container {
  margin: auto;
  height: 100%;
  padding-block-start: 5px;
  padding-left: 15px;
  text-align: left;
}

.audio-item-details-price-container h4 {
  padding-bottom: 10px;
  font-size: 15px;
  color: var(--color-gray-dark);
}

.audio-item-details-price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.audio-item-details-price-bid p {
  font-size: 15px;
}

.audio-item-details-price-bid {
  position: relative;
  border: 1px solid var(--color-gray-dark);
  border-radius: 5px;
  padding: 13px 10px 7px;
  display: flex;
  align-items: center;
}

.audio-item-details-price-bid small {
  text-align: center;
  position: absolute;
  top: -9px;
  flex: 1;
  background-color: var(--color-gray-dark);
  color: var(--text-color-converse);
  padding: 4px 1px;
}

@media screen and (max-width: 768px) {
  .audio-item-details-top-right {
    width: 150px;
    height: 45px;
  }
  .audio-item-details-info small {
    font-size: 11px;
  }

  .audio-item-details-info p {
    font-size: 14px;
    font-weight: 600;
  }
}
