.btn {
  padding: 10px 15px;
  border-radius: 100px;
  background-color: var(--color-gray-dark);
  border: 1px solid var(--color-gray-dark);
  box-shadow: var(--box-shadow-2);
  color: var(--text-color-converse);
  cursor: pointer;
  margin-right: 10px;
  width: fit-content;
  min-width: 132px;
  font-size: 0.9rem;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.btn.sideBar-btn {
  min-width: 115px;
  width: 100%;
}

.btn:hover {
  background-color: var(--background-color);
  border: 1px solid var(--color-gray-dark);
  color: var(--color-gray-dark);
}

@media (max-width: 768px) {
  .btn {
    font-size: 0.8rem;
    padding: 10px 10px;
  }
}
