.main-container {
  max-width: 80%;
  margin: auto;
  color: var(--color-gray-dark);
  margin-top: 50px;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.title-container h1 {
  text-align: left;

  font-size: 3rem;
}

.title-container p {
  text-align: left;

  font-size: 16px;
}

@media (max-width: 768px) {
  .title-container h1 {
    font-size: 2rem;
  }

  .title-container p {
    font-size: 14px;
  }
}
