.hero-section {
  margin: auto;
  max-width: 80%;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.hero-content-wrapper {
  display: flex;
  width: 100%;
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 768px) {
  .hero-content-wrapper {
    flex-direction: column;
  }

  .hero-content h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
  }

  .hero-content p {
    font-size: 11px;
    margin-bottom: 20px;
  }

  .hero-content,
  .hero-image {
    order: 1;
  }
}

.hero-content {
  padding: 30px;
  text-align: start;
  flex: 1;
}

h1 {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}
